/* 
 ----------
 ALL 
 ----------
*/
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--grey-color);
}

/* 
 ----------
 ROOT 
 ----------
*/
:root {
  --primary-font-family: "Poppins", sans-serif;
  --primary-color: #1864ab;
  --primary-support-color: #e7f5ff;
  --grey-color: #343a40;
  --second-grey-color: #e9ecef;
  --black-color: #000;
  --white-color: #fff;
  --box-shadow: 0 0px 24px rgba(0, 0, 0, 0.1);
  --image-box-shadow: 0 0px 25px rgba(0, 0, 0, 0.3);
}

/* 
 ----------
 BODY 
 ----------
*/
body {
  font-family: var(--primary-font-family);
}

/* 
 ----------
 OVERLAY
 ----------
*/
.header-overlay,
.message-sent-overlay {
  display: none;
}

.header-overlay.visible,
.message-sent-overlay.visible {
  display: block;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--white-color);
  filter: blur(250px);

  z-index: 10;
}

/* 
 ----------
 ALL SECTION 
 ----------
*/
section {
  /* padding: 100px 100px; */
  width: 500px;
}

/* 
 ----------
 HEADER 
 ----------
*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 25px 150px;
  box-shadow: var(--box-shadow);
  background-color: var(--white-color);

  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 100; */
}

header .navbar-menu li {
  display: flex;
  gap: 30px;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
}

header .bars {
  display: none;
}

.nav-btn {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-btn.active {
  color: var(
    --primary-color
  ); /* Set the text color when the button is clicked */
}
/* 
 ----------
 NAVBAR MENU DROPDOWN 
 ----------
*/
.navbar-menu-dropdown {
  display: none;
}

/* 
 ----------
 LOGO 
 ----------
*/
.logo {
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  color: var(--black-color);
}

.logo span {
  color: var(--primary-color);
}

/* 
 ----------
 NAVBAR MENU DROPDOWN 
 ----------
*/
.navbar-menu-dropdown.visible {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 25px 150px;
  text-align: right;
  background-color: var(--white-color);

  position: fixed;
  top: 0;
  left: 40%;
  right: 0;
  bottom: 0;

  z-index: 100;
}

.navbar-menu-dropdown .x-btn {
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: 700;

  cursor: pointer;
}

.navbar-menu-dropdown .logo {
  margin-bottom: 25px;
}

.navbar-menu-dropdown li {
  display: flex;
  gap: 25px;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 600;
}

/* 
 ----------
 BUTTONS CSS 
 ----------
*/
.primary-btn {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--white-color);
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;

  display: inline-flex;
  gap: 5px;
  align-items: center;

  cursor: pointer;
  i {
    color: var(--white-color);
  }
}

.primary-btn:hover {
  background: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 10px 20px;

  i {
    color: var(--primary-color);
  }
}

.secondary-btn {
  background: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;

  display: inline-flex;
  gap: 5px;
  align-items: center;

  cursor: pointer;

  i {
    color: var(--primary-color);
  }
}

.secondary-btn:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--white-color);

  i {
    color: var(--white-color);
  }
}

/* 
 ----------
 CONTAINER 
 ----------
*/
.container {
  display: flex;
  justify-content: center;
}

/* 
 ----------
 ALL SECTION 
 ----------
*/
section {
  padding: 100px 0px;
  width: 600px;
}

/* 
 ----------
 TITLE AND DESCRIPTION
 ----------
*/
.title {
  font-size: 36px;
  border-left: 5px solid var(--primary-color);
  padding-left: 25px;
  text-transform: uppercase;
  line-height: 1.15;
  margin-bottom: 15px;
}

.description {
  line-height: 1.4;
  margin-bottom: 25px;
}

/* 
 ----------
 INTRODUCE MYSELF SECTION 
 ----------
*/
#introduce-myself {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;

  /* margin-top: 100px; */
}

#introduce-myself .left-side {
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: space-between;

  width: 500px;
}
#introduce-myself .greetings span,
#introduce-myself .author-name {
  color: var(--primary-color);
}

#introduce-myself .greetings {
  font-size: 16px;
}

#introduce-myself .author-name {
  font-size: 55px;
  margin-bottom: 5px;
  line-height: 1.15;
  /* text-transform: uppercase; */
}

#introduce-myself .introduction {
  margin-bottom: 20px;
}

#introduce-myself .author-image {
  width: 430px;
  height: 450px;
  border-radius: 5px;
  box-shadow: var(--image-box-shadow);
}

#introduce-myself .social-medias {
  display: flex;
  gap: 15px;
}

#introduce-myself .how-to-find-me h3 {
  color: var(--primary-color);
}

#introduce-myself .social-medias a {
  font-size: 24px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--second-grey-color);
}

/* 
 ----------
 TECH STACK SECTION 
 ----------
*/
#tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tech-stack .languages {
  /* margin: 25px auto; */
}

#tech-stack .languages-cards {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;

  /* display: grid;
  gap: 50px;
  place-items: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
}

#tech-stack .language-card {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 175px;
  height: 200px;
  background-color: var(--primary-support-color);
  border-radius: 25px;
}

#tech-stack .language-icon {
  width: 60px;
  height: 59px;
  color: var(--primary-color);
}

#tech-stack .sub-title {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
}

/* 
 ----------
 aBOUT ME SECTION 
 ----------
*/
#about-me .about-me-content {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;

  margin: 30px 0px;
}

#about-me .personal-details ul li {
  display: flex;
  align-items: center;

  font-size: 16px;
  margin-bottom: 5px;
}

#about-me .sub-title {
  margin-bottom: 25px;
  font-size: 24px;
}

#about-me h3 {
  font-size: 20px;
  margin-right: 10px;
}

#about-me .my-interests ul {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

#about-me .interest-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  padding: 10px 15px;
  border: 1px solid var(--grey-color);
}

#about-me .interest-card .interest-image {
  width: 32px;
}

#about-me .about-me-button {
  display: flex;
  justify-content: center;
}
/* 
 ----------
 CONTACT BUTTON AND CONTENT 
 ----------
*/
#contact {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

svg {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}

#contact .contact-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 50px;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  width: 450px;
}

#contact .contact-content .contact-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#contact .error-message {
  display: none;
}

#contact .error-email.visible {
  display: block;
  color: red;
}

#contact .invalid-email.visible {
  display: block;
  color: red;
}

#contact .error-textarea.visible {
  display: block;
  color: red;
}

#contact .contact-content label {
  color: var(--support-color-2);
  font-size: 12px;
  font-weight: 600;
}

#contact input {
  font-size: 14px;
  color: var(--support-color-2);
  border: none;
  background: none;
  font-size: 14px;
  padding: 5px;

  outline: none;
  border-bottom: 1px solid #787b80;
}

#contact .contact-content .input {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

#contact .contact-content .sendmsgBtn {
  margin-top: 30px;
  justify-content: center;
}

#contact .message-sent {
  display: none;
}

#contact .message-sent.visible {
  display: block;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--white-color);
  padding: 30px;
  border-radius: 25px;
  text-align: center;
  box-shadow: var(--box-shadow);

  z-index: 100;
}

#contact .message-sent .ph-check-circle {
  color: green;
  font-size: 100px;
}

#contact .back-btn {
  margin: 10px;
}
/* 
 ----------
 PORTFOLIO 
 ----------
*/
#portfolio {
}

#portfolio .portfolio-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

#portfolio .portfolio-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

#portfolio .portfolio-buttons button {
  border: none;
  background: none;
  font-size: 18px;
  padding: 5px 15px;
  cursor: pointer;
}

#portfolio .portfolio-buttons button:hover {
  color: var(--primary-color);
}

.portfolio {
  display: none;
}

.defaultBtn {
  font-weight: 600;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color) !important;
}

#portfolio .portfolio-card {
  display: flex;
  justify-content: center;

  border-radius: 15px;
  box-shadow: var(--box-shadow);
  background-color: var(--white-color);

  padding: 10px;
}

#portfolio .portfolio-card:nth-child(odd) {
  flex-direction: row-reverse;
}

#portfolio .content {
  padding: 25px;
}

#portfolio .card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio .card-image img {
  width: 250px;
}

#portfolio .sub-title,
#portfolio .sub-description {
  margin-bottom: 12px;
}

#portfolio .sub-description {
  font-size: 12px;
}
#portfolio .sub-title span {
  color: var(--primary-color);
}

/* #portfolio .sub-description {
  height: 200px;
} */

#portfolio .portfolio-btn {
  font-size: 12px;
}
/* 
 ----------
 FOOTER 
 ----------
*/
footer {
  display: flex;
  gap: 100px;
  justify-content: center;
  background-color: var(--primary-support-color);

  padding: 100px 150px;
}

.footer-main-content {
  display: flex;
  gap: 50px;
  /* justify-content: center; */
}

footer .footer-title span {
  font-size: 24px;
  font-weight: 700;
}

.footer-social-media,
.footer-site-map,
.footer-contact-me,
.social-media-content,
.site-map-content,
.contact-me-content {
  display: flex;
  flex-direction: column;
}

.footer-social-media,
.footer-site-map,
.footer-contact-me {
  gap: 16px;
}

.social-media-content,
.site-map-content,
.contact-me-content {
  gap: 8px;
}

.social-media-content a,
.site-map-content,
.contact-me-content span {
  font-size: 16px;
  color: var(--support-color-2);
}

/* 
 ----------
 COPYRIGHT
 ----------
 */
.copyright {
  padding: 25px;
  text-align: center;
  background-color: var(--primary-support-color);
}

/* 
 ----------
 MEDIA QUERY 
 ----------
*/

@media screen and (min-width: 1386px) and (max-width: 1920px) {
  .navbar-menu-dropdown.visible,
  .header-overlay.visible {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  footer {
    flex-direction: column;
  }

  footer .footer-title span {
    font-size: 20px;
  }

  .social-media-content a,
  .site-map-content,
  .contact-me-content span,
  .copyright {
    font-size: 14px;
  }
}

@media screen and (max-width: 1385px) {
  header .bars {
    display: block;
    font-size: 40px;

    cursor: pointer;
  }

  header .navbar-menu {
    display: none;
  }
}

@media screen and (max-width: 1317px) {
  #contact {
    gap: 50px;
  }
}

@media screen and (max-width: 1250px) {
  header {
    padding: 25px 30px;
  }

  section {
    padding: 50px 30px;
  }

  .navbar-menu-dropdown.visible {
    padding: 25px 30px;
  }

  #contact {
    padding: 100px 30px;
  }
}

@media screen and (max-width: 1100px) {
  footer {
    gap: 50px;
  }

  .footer-main-content {
    gap: 25px;
    flex-direction: column;
  }
}

@media screen and (max-width: 1045px) {
  #about-me .about-me-content {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 750px) {
  footer {
    padding: 25px 30px;
  }

  #tech-stack .cards {
    gap: 15px;
  }

  #tech-stack .card {
    width: 125px;
    height: 150px;
  }

  #tech-stack .language-icon {
    width: 55px;
    height: 44px;
  }

  #tech-stack .sub-title {
    font-size: 16px;
  }

  #tech-stack .language-card {
    width: 140px;
    height: 170px;
  }
}

@media screen and (max-width: 600px) {
  section {
    width: 450px;
  }

  #portfolio .portfolio-card,
  #portfolio .portfolio-card:nth-child(odd) {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .navbar-menu-dropdown.visible {
    left: 0;
  }
}

@media screen and (max-width: 450px) {
  .navbar-menu-dropdown.visible {
    padding: 15px 30px;
  }
}
